body{
  background-color: #ff940e;
}
body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: orange;
  text-decoration: none;
  font-family: sans-serif;
}

.container{
	background-color: #ff940e;
	padding: 5px;
	border: 2px solid black;
  height: 100vh;
}
.container div{
	background: white;
	padding: 20px;
	border: 1px solid black;
}
a:hover{
	background-color: rgba(176, 224, 230);
	color: black;
}


.botaoadicionar{
  position: inherit;
  right: 461px;
	margin: 5px;
	width: 170px;
	height: 30px;
	background-color: #6e84f3;
	font-family: "Lato";
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.modal-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}


.modal-container.mostrar{
    display: flex;
}

.modal{
  background-color: #f5f5f5;
  width: 80%;
  min-width: 300px;
  padding: 50px;
  border: 8px solid #358093;
  position: relative;
  text-align: -webkit-center;
}
.modal-despesa{
width: 100vw;
height: 100vh;
background-color: rgba(0,0,0,.8);
position: fixed;
top: 0px;
left: 0px;
z-index: 2000;
display: none;
justify-content: center;
}
.modal-despesa.mostrar{
    display: flex;
}
@keyframes modal {
  from{
    opacity: 0;
    transform: translate3d(0,-60px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}

.mostrar .modal{
    animation: modal .3s;
}

.fechar{
  position: absolute;
  bottom: 10px;
  right: 215px;
  width: 70px;
  height: 30px;
  border: 4px solid #ff940e;
  background-color: #ff940e;
  color: white;
  font-family: "Lato";
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.salvar{
  position: absolute;
  bottom: 10px;
  right: 50px;
  width: 150px;
  height: 30px;
  border: 4px solid #ff940e;
  background-color: #ff940e;
  color: white;
  font-family: "Lato";
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.fechar-despesa{
  position: absolute;
  bottom: 10px;
  right: 250px;
  width: 70px;
  height: 30px;
  border: 4px solid #ff940e;
  background-color: #ff940e;
  color: white;
  font-family: "Lato";
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.salvar-despesa{
  position: absolute;
  bottom: 15px;
  right: 100px;
  width: 150px;
  height: 30px;
  border: 4px solid #ff940e;
  background-color: #ff940e;
  color: white;
  font-family: "Lato";
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.colunas {
  /* background-color: black; */
  padding: 0px;
  border: 0.5px solid black;
  background-color: #d5d5d5;
  font-family: "Lato";
}
.botaofiltrar{
  margin: 5px;
  width: 110px;
  height: 30px;
  background-color: #988b7a;
  color: white;
  font-family: "Lato";
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.container-fluid  {
  padding: 100px 50px;
  background: #ffffff;
  text-align: center;
}
#Valores{
  text-align: center;
  padding: 0px;
  color: black;
  width: 100%;
  background-color: #b5b5b5;
  border: 0.5px solid black;

}
#filt{
  padding: 2px;
  width: 25px;

}
#modal-grid{
  display: grid;
  padding: 20px;
}

#labeltd{
  display: block;
}

}
#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#barra_menu {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black ;
  color: white;
}

#menu_nav {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu_nav a {
  display: block;
  padding: 0.5rem;
}
#ini_inquilino{
    background: #6e84f3	;
    color: black;
    text-align: center;
    padding: 15px;
    border: 2px solid black;

}



#Valores{
  text-align: center;
  padding: 0px;
  color: black;
  width: 100%;
  background-color: #b5b5b5;
  border: 0.5px solid black;

}
#row{
  padding: 10px;
  position: absolute;
  left: 50px;

}


#cabecario{
  border: 0.5px solid black;
  font-family: "Lato";
}
#logo{
  width: 60px;
}
#botaofiltrar {
    width: 100px;
    left: 368px;
    position: fixed;
    top: 201px;
    background-color: #6e84f3;
    font-family: "Lato";
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
#inicio{
      top: 15px;
      left: 550px;
      position: relative;
      width: 248px;
}
#ini{
  background: #6e84f3	;
  color: black;
  text-align: center;
  padding: 15px;
  border: 2px solid black;
}
